TextField {
    font-size: 20;
    color: purple;
}

#mainBtn {
    background-color: purple;
    color: white;
    font-size: 18;
    border-radius: 30%;
    padding: 0 10%;
    margin: 3% 20%;
}

#deleteBtn {
    color: black;
    width: 13%;
    font-size: 20;
    padding: 0;
    border-radius: 50%;
}

#contentText {
    width: 68%;
    margin-top: 2.3%;
    color: purple;
    font-size: 24;
}

#contentNumber {
    width: 7%;
    margin-top: 2.3%;
    color: black;
    font-size: 24;
    margin-left: 5%;
}