<StackLayout>
    <TextField style="margin-top: 10%;" #challengeEl hint="Enter Challenge Title"></TextField>
    <Button id="mainBtn" (tap)="addChallenge(challengeEl.text)" (tap)="challengeEl.text = ''" text="Set Challenge"></Button>
    <WrapLayout *ngFor="let challenge of challenges">
        <Label id="contentNumber" [text]="challenge.id + '. '"></Label>
        <Label id="contentText" [text]="challenge.value"></Label>
        <Button (tap)="onDelete(challenge.id)" text="x" id="deleteBtn"></Button>
    </WrapLayout>
</StackLayout>